.row {
  display: flex;
  padding: 5px 10px;
  margin-bottom: 10px;
  background-color: azure;
  border-radius: 8px;
  word-wrap: break-word;
  box-sizing: border-box;
}

.row__number, .row__email, .row__name, .row__comment {
  box-sizing: border-box;
  padding: 0 5px;
}

.row__number {
  width: 5%;
  text-align: center;
}

.row__email {
  width: 20%;
}

.row__name {
  width: 25%;
}

.row__comment {
  width: 50%;
}